<% if document.masonry_title_above == JA_NEE.key('ja') %>
  <div class="row content_area_title_above">
    <h2 class="title">
      <%= document.nice_title %>
    </h2>
  </div>
<% end %>

<% if document.masonry_text_above == JA_NEE.key('ja') %>
  <div class="row content_area_text_above">
      <%= raw add_tooltips document.content_pdf_formatted, 'pdf' %>
  </div>
<% end %>

<% unless document.images.empty? %>
  <div class="row pdf_masonry_area">
    <% document.images.all.each do |image| %>
      <%  if image.lightbox_show_picture == JA_NEE.key('nee')
            image_url = '/no-picture.png'
          else
            image_url = image.image_url
          end
      %>
      <%= image_tag image.image_url, width: @masonry_picture_width, class: "pdf_masonry_image" %>
      <% html_doc = Nokogiri::HTML(image.description) %>
      <% html_doc.search('.//img').remove %>
      <% html_doc.search('.//iframe').each do |iframe|
          new_node = html_doc.create_element "span"
          new_node.inner_html = "Video: #{iframe.attributes['src'].value.split('?').first rescue ''}"
          iframe.replace new_node
        end %>
      <div class="pdf_masonry_content">
        <%= raw html_doc.at('body').inner_html rescue '' %>
      </div>
      <div style="clear: both;"></div>
    <% end %>
  </div>
<% end %>

<% if document.masonry_title_above == JA_NEE.key('nee') %>
  <div class="row content_area_title_below">
    <h2 class="title">
      <%= document.nice_title %>
    </h2>
  </div>
<% end %>

<% if document.masonry_text_above == JA_NEE.key('nee') %>
  <div class="row content_area_text_below">
      <%= raw @content %>
  </div>
<% end %>

<% if document.id == 33 # begrippen %>
  <div class="row content_area_begrippen">
    <% Begrip.exclude_isms.order(:name).each do |begrip| %>
      <div class="row begrip_row">
        <div class="column begrip_name small-3">
          <strong><%= begrip.name %></strong><br/>
        </div>
        <div class="column begrip_description small-9">
          <%= begrip.description.html_safe %>
          <%= begrip.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
        </div>
        <br/>
      </div>
    <% end %>
  </div>
 <% end %>

<% if document.id == 100 # genres & stromingen %>
  <div class="row content_area_begrippen">
    <% Begrip.only_isms.order(:name).each do |begrip| %>
      <div class="row begrip_row">
        <div class="column begrip_name small-3">
          <strong><%= begrip.name %></strong><br/>
        </div>
        <div class="column begrip_description small-9">
          <%= begrip.description.html_safe %>
          <%= begrip.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
        </div>
        <br/>
      </div>
    <% end %>
  </div>
 <% end %>

</div>

<div class="sidebar_area column medium-4 large-3">

<% unless document.sidebar.blank? %>
  <div class="row sidebar">
    <% html_doc = Nokogiri::HTML(document.sidebar) %>
    <% html_doc.search('.//iframe').each do |iframe|
        new_node = html_doc.create_element "span"
        new_node.inner_html = "Video: #{iframe.attributes['src'].value.split('?').first rescue ''}"
        iframe.replace new_node
      end %>
    <%= raw html_doc.at('body').inner_html rescue '' %>
  </div>
<% end %>

<% unless document.assignments.empty? %>
  <div class="row assignments">
    <h3>OPDRACHT</h3>
    <ul>
      <% document.assignments.each do |assignment| %>
        <li>
          <h2 id="assignment_title_<%= assignment.id %>">
            <%= assignment.title %>
          </h2>
          <div class="assignment_content">
            <% html_doc = Nokogiri::HTML(assignment.content) %>
            <% html_doc.search('.//iframe').each do |iframe|
                new_node = html_doc.create_element "span"
                new_node.inner_html = "Video: #{iframe.attributes['src'].value.split('?').first rescue ''}"
                iframe.replace new_node
              end %>
            <%= raw html_doc.at('body').inner_html rescue '' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless document.begrips.empty? %>
  <div class="row begrippen">
    <h3>BEGRIPPEN</h3>
    <ul>
      <% document.begrips.each do |begrip| %>
        <li>
          <span data-tooltip data-options="hover_delay: 10;" aria-haspopup="true" class="has-tip tip-bottom radius" title="
          <%= begrip.description %>
          <%= begrip.related_words_text('<br /><br />Gerelateerde begrippen: ') %>
          "><%= begrip.name %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless document.isms.empty? %>
  <div class="row isms">
    <h3>GENRES &amp; STROMINGEN</h3>
    <ul>
      <% document.isms.each do |ism| %>
        <li>
          <span data-tooltip data-options="hover_delay: 10;" aria-haspopup="true" class="has-tip tip-bottom radius" title="
          <%= ism.description %>
          <%= ism.related_words_text('<br /><br />Gerelateerde begrippen: ') %>
          "><%= ism.name %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% document.documents.each do |document| %>
  <div class="content_area column medium-8 large-9">
    <%= render 'documents/subdocument', document: document %>
  </div>
<% end %>
