<div class="row content_container">
  <div class="content_area column medium-8 large-9">
    <%= render 'documents/document' %>
  </div>
  <% @document.documents.each do |document| %>
    <div class="content_area column medium-8 large-9 pb_before">
      <%= render 'documents/subdocument', document: document %>
    </div>
  <% end %>
</div>

<% if @document.module_any_begrip_or_ism? %>
  <div class="content_area column medium-8 large-9 pb_before">
    <div class="row content_area_title_above">
      <h1 class="title">
        Lijst van Genres, Stromingen en Begrippen voor: <%= @document.this_module.title %>
      </h1>
    </div>

    <div class="row content_area_begrippen">
      <h2>Genres & Stromingen</h2>
      <% @document.module_isms.each do |ism| %>
        <div class="row begrip_row">
          <div class="column begrip_name small-3">
            <h3><%= ism.name %></h3>
          </div>
          <div class="column begrip_description small-9">
            <%= ism.description.html_safe %>
            <%= ism.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row content_area_begrippen">
      <h2>Begrippen</h2>
      <% @document.module_begrips.each do |begrip| %>
        <div class="row begrip_row">
          <div class="column begrip_name small-3">
            <h3><%= begrip.name %></h3>
          </div>
          <div class="column begrip_description small-9">
            <%= begrip.description.html_safe %>
            <%= begrip.related_words_text('<br />Gerelateerde begrippen: ').html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
